# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TimeAndFramerateManagementExamples.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity project references\TimeAndFramerateManagementExamples\.idea\.idea.TimeAndFramerateManagementExamples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
